<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gold Runs</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <div class="container-fluid">
            <h2>Your Gold:{{request.session.gold}}</h2>
            <div class="postForm">
                <form action="/find_gold" method="post" class="location">
                    {% csrf_token %}
                    <div class="form-group">
                        <h3>Farm</h3>
                        <p>(earn 10-20 gold!)</p>
                        <input type="hidden" name="location" value="farm">
                        <button class="btn" type="submit">Find Gold</button>
                    </div>
                </form>
                <form action="/find_gold" method="post" class="location">
                    {% csrf_token %}
                    <div class="form-group">
                        <h3>Cave</h3>
                        <p>(earn 5-10 gold!)</p>
                        <input type="hidden" name="location" value="cave">
                        <button class="btn" type="submit">Find Gold</button>
                    </div>
                </form>
                <form action="/find_gold" method="post" class="location">
                    {% csrf_token %}
                    <div class="form-group">
                        <h3>House</h3>
                        <p>(earn 2-5 gold!)</p>
                        <input type="hidden" name="location" value="house">
                        <button class="btn" type="submit">Find Gold</button>
                    </div>
                </form>
                <form action="/find_gold" method="post" class="location">
                    {% csrf_token %}
                    <div class="form-group">
                        <h3>Casino</h3>
                        <p>(earn/loose 0-50 gold!)</p>
                        <input type="hidden" name="location" value="casino">
                        <button class="btn" type="submit">Find Gold</button>
                    </div>
                </form>
            </div>
            <div id="gameActivities">
                <form action="/reset" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="reset">
                    <button class="btn btn-lg" type="submit">RESET</button>
                </form>
                <p>Activities:</p>
                <div class="resultsBox" id="activities">
                    {% for str in activities %}
                        {% if location == 'farm' %}
                    <p class="green">{{str}}</p>
                        {% endif %}
                        {% if location == 'cave' %}
                    <p class="gray"> {{str}}</p>
                        {% endif %}
                        {% if location == 'house' %}
                    <p class="purple"> {{str}}</p>
                        {% endif %}
                        {% if location == 'casino' %}
                    <p class="red"> {{str}}</p>
                        {% endif %}
                    {% endfor %} 
                </div> 
            </div>
        </div> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>